$bgcolor: #fbfbfb;
$skinColor: var(--ThemeColor, #e91e63); // 不再兼容MCBBS Extender
@mixin scroll($width: 4px, $bgcolor: #eee, $thumbcolor: #999) {
    scrollbar-width: thin;
    scrollbar-color: $thumbcolor $bgcolor;
    &::-webkit-scrollbar {
        /*滚动条整体*/
        width: $width;
        height: $width;
    }
    &::-webkit-scrollbar-thumb {
        /*滚动条中可滑动部分*/
        border-radius: $width / 2;
        box-shadow: inset 0 0 4px
            rgba($color: darken($thumbcolor, 20%), $alpha: 0.25);
        background: $thumbcolor;
    }
    &::-webkit-scrollbar-track {
        /*滚动条轨道*/
        box-shadow: inset 0 0 4px
            rgba($color: darken($bgcolor, 20%), $alpha: 0.25);
        border-radius: $width / 4;
        background: $bgcolor;
    }
}
$padding: 8px;
$paddingTop: $padding * 3;
$barHeight: 40px;
.insertEmoticonPanel {
    position: fixed;
    top: var(--top, 10vh);
    left: var(--left, 10vw);
    width: var(--width, 30vw);
    min-width: 360px;
    height: var(--height, 30vh);
    min-height: 270px;
    padding: $paddingTop 0 0;
    background-color: lighten($color: $bgcolor, $amount: 1%);
    background-clip: padding-box;
    border: 8px solid rgba($color: #000000, $alpha: 0.2);
    border-radius: 8px;
    user-select: none;
    z-index: 15;
    // 主体
    .main {
        width: 100%;
        height: calc(100% - #{$barHeight});
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(60px, 1fr));
        overflow-y: auto;
        @include scroll;
        > div {
            height: 0;
            padding: 50% 0;
            text-align: center;
            position: relative;
            background-color: lighten($color: $bgcolor, $amount: 1%);
            outline: 1px solid #999;
            overflow: hidden;
            // outline-offset: -1px;
            cursor: pointer;
            // &:hover {
            //     outline-width: 3px;
            //     outline-offset: -3px;
            // }
            > div {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                text-align: center;
            }
            img {
                max-width: 100%;
                margin-top: 50%;
                transform: translateY(-50%);
                transform-origin: 50% 50%;
            }
            &::after {
                content: attr(title);
                position: absolute;
                top: -100%;
                left: 0;
                width: 100%;
                padding: 5px 0;
                background-color: rgba($color: #fff, $alpha: 0.5);
                transition: 0.3s ease;
            }
            &:hover::after {
                top: 0;
            }
        }
    }
    // 底部栏
    .bar {
        width: 100%;
        height: $barHeight;
        white-space: nowrap;
        overflow-x: auto;
        @include scroll;
        > div {
            display: inline-block;
            padding: 8px;
            line-height: $barHeight - 20px;
            text-align: center;
            background-color: $bgcolor;
            border-left: 1px solid #999;
            border-bottom: 1px solid #999;
            border-top: 1px solid #999;
            background-color: $bgcolor;
            cursor: pointer;
            &.select {
                border-top-color: transparent;
                background-color: lighten($color: $bgcolor, $amount: 5%);
            }
            &:last-child {
                border-right: 1px solid #999;
            }
        }
    }
    // 关闭按钮
    .close {
        position: absolute;
        top: 0;
        right: 0;
        width: $paddingTop;
        height: $paddingTop;
        padding: 0;
        font-size: 12px;
        text-align: center;
        cursor: pointer;
        transform-origin: 50% 50%;
        transition: 0.3s ease;
        &:hover {
            transform: scale(1.2);
        }
    }
    // 顶部栏
    .topbar {
        position: absolute;
        top: 0;
        width: calc(100% - #{$paddingTop});
        height: $paddingTop;
        overflow: hidden;
        color: rgb(58, 116, 173);
        > a {
            float: right;
            height: $paddingTop;
            line-height: $paddingTop;
            color: rgb(58, 116, 173);
            &:hover {
                color: #6cf;
            }
        }
    }
}
.pl .blockcode {
    > em.importMemePack {
        right: 18px + 4 * 14px;
    }
}
// 夜间
.nightS {
    .insertEmoticonPanel {
        background-color: #444;
        color: #f0f0f0;
        border-color: rgba($color: #999, $alpha: 0.2);
        .main {
            > div {
                background-color: #444;
                &::after {
                    background-color: rgba($color: #222, $alpha: 0.5);
                }
            }
        }
        .bar {
            > div {
                background-color: #353535;
                &.select {
                    background-color: #555;
                }
            }
        }
        // .topbar {
        //     > a {
        //         &:hover {
        //             color: #6cf;
        //         }
        //     }
        // }
    }
}
// @media (min-width: 1200px) {
//     .insertEmoticonPanel {
//         grid-row-gap: 0.4rem;
//     }
// }
