$bgcolor: #fbf2db;
$skinColor: var(--ThemeColor, #e91e63); // 兼容MCBBS Extender

@mixin scroll($width: 4px, $bgcolor: #eee, $thumbcolor: #999) {
    scrollbar-width: thin;
    scrollbar-color: $thumbcolor $bgcolor;
    &::-webkit-scrollbar {
        /*滚动条整体*/
        width: $width;
        height: $width;
    }
    &::-webkit-scrollbar-thumb {
        /*滚动条中可滑动部分*/
        border-radius: $width / 2;
        box-shadow: inset 0 0 4px
            rgba($color: darken($thumbcolor, 20%), $alpha: 0.25);
        background: $thumbcolor;
    }
    &::-webkit-scrollbar-track {
        /*滚动条轨道*/
        box-shadow: inset 0 0 4px
            rgba($color: darken($bgcolor, 20%), $alpha: 0.25);
        border-radius: $width / 4;
        background: $bgcolor;
    }
}
@mixin panel(
    $width: 50vw,
    $minWidth: 360px,
    $maxHeight: 80vh,
    $minHeight: 10vh,
    $padding: 8px,
    $borderColor: rgba($color: #000000, $alpha: 0.2),
    $scrollWidth: 4px,
    $bgcolor: $bgcolor
) {
    width: $width;
    min-width: $minWidth;
    left: 50vw - $width / 2;
    max-height: $maxHeight;
    min-height: $minHeight;
    top: 50vh - $maxHeight / 2;
    position: fixed;
    background-color: $bgcolor;
    background-clip: padding-box;
    padding: 0 $padding $padding $padding;
    border: 8px solid;
    border-radius: 8px;
    border-color: $borderColor;
    box-sizing: border-box;
    overflow-y: auto;
    transition: 0.3s ease, opacity 0.2s ease;
    z-index: 999999;
    @include scroll($scrollWidth);
    &.visible {
        opacity: 1;
    }
    &.hidden {
        opacity: 0;
        transition-timing-function: ease-in;
    }
    > *:first-child {
        background-color: $bgcolor;
        position: sticky;
        top: 0;
        z-index: 99;
    }
}
@mixin range($backColor: $skinColor, $thumbColor: $skinColor) {
    // &::-webkit-slider-runnable-track {
    //     height: 0.5rem;
    //     background-color: $backColor;
    // }
    // &::-moz-range-progress {
    //     background-color: $backColor;
    // }
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 1rem;
        height: 1rem;
        border-radius: 0.5rem;
        background-color: $thumbColor;
    }
    &::-moz-range-thumb {
        background-color: $thumbColor;
    }
}

body {
    background-attachment: fixed;
    > div[style]:not([id]):not([class]) {
        float: left;
    }
    > .mc_map_wp {
        padding-top: 0;
        margin-top: 0;
        overflow: visible;
        // float: unset;
        display: inline-block;
        margin-left: calc(50% - 565px);
        transition: 0.3s ease;
        transition-delay: 0.5s;
        &:hover {
            transition-delay: 0s;
        }
        > .new_wp {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            h2 img {
                max-height: 74px;
            }
        }
    }
    &:hover {
        > .mc_map_wp {
            transition-delay: 0s;
        }
    }
    // 有背景图时使用特殊的透明度
    &.hasBackgroundImage {
        .mc_map_wp,
        #scrolltop,
        #toptb {
            opacity: var(--mcmapwpOpacity, 1);
        }
        &:hover {
            .mc_map_wp,
            #scrolltop,
            #toptb {
                opacity: var(--mcmapwpCommonOpacity, 1);
            }
        }
    }
    // #toptb {
    //     opacity: 0;
    // }
}
@media screen and (max-width: 1130px) {
    body > .mc_map_wp {
        margin-left: 0;
    }
}
// 查看警告记录按钮
.pmwarn {
    width: auto !important;
    background-size: 16px !important;
}
ul.xl.xl2.o.cl .pmwarn {
    background: url(template/mcbbs/image/warning.gif) no-repeat 0px 2px;
}
#uhd > .mn > ul .pmwarn a {
    background: url(template/mcbbs/image/warning.gif) no-repeat 0px 2px !important;
    background-size: 16px !important;
}
// 警告的帖子
// .warned {
//     opacity: 0.2;
//     transition: 0.3s ease;
//     &:hover {
//         opacity: 0.9;
//     }
// }
.reported {
    position: relative;
    &::after {
        content: "已举报";
        top: 57px;
        left: 400px;
        font-size: 3rem;
        font-weight: bold;
        color: #c32;
        position: absolute;
        opacity: 0.5;
        pointer-events: none;
    }
    &.warned::after {
        content: "已制裁";
        color: #2c4;
    }
}
// 面板
.settingPanel,
.consolePanel,
.emoticonPanel {
    @include panel();
}
// 控制面板
.consolePanel {
    &.visible {
        left: 25vw;
    }
    &.hidden {
        left: -90vw;
    }
    > div {
        margin: 0 0 5px 0;
        min-height: 10vh;
        max-height: calc(80vh - 6rem - 46px);
        // background-color: transparent;
        overflow-y: auto;
        @include scroll(4px);
    }
    > textarea {
        resize: vertical;
        font-size: 1rem;
        line-height: 1.2rem;
        height: 1.2 * 2rem;
        min-height: 1.2 * 1rem;
        max-height: 1.2 * 20rem;
        width: calc(100% - 8px);
        border: none;
        border-width: 0;
        @include scroll(8px);
    }
}
// 设置面板
.settingPanel {
    &.visible {
        top: 10vh;
    }
    &.hidden {
        top: -90vh;
    }
    > * {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 8px;
        float: left;
    }
    .flb {
        span > a {
            color: rgb(58, 116, 173);
            &:hover {
                color: #6cf;
            }
        }
    }
    h3 {
        font-size: 0.875rem;
        small {
            font-size: 0.75rem;
            color: grey;
        }
    }
    h3.half-h3 {
        width: calc(50% - 14px);
        padding: 0 10px 0 0;
        float: left;
        text-align: right;
    }
    textarea {
        resize: vertical;
        line-height: 1.2em;
        height: 1.2 * 3em;
        min-height: 1.2 * 2em;
        max-height: 1.2 * 20em;
        width: calc(100% - 8px);
        border: none;
        border-width: 0;
        @include scroll(8px);
    }
    input {
        width: calc(50% - 4px);
        float: left;
        text-align: center;
        &[type="range"] {
            width: calc(100% - 8px);
        }
        &[type="checkbox"] {
            display: none;
        }
    }
}
// 表情包面板
.emoticonPanel {
    &.visible {
        left: 25vw;
    }
    &.hidden {
        left: -90vw;
    }
    .memelist {
        // margin-top: 42px;
        > div {
            width: calc(100% - 8px);
            padding: 4px;
            border-bottom: 1px solid #999;
        }
        .memeitem {
            display: flex;
            outline-offset: -2px;
            > * {
                margin-top: auto;
                margin-bottom: auto;
            }
            img {
                width: 30%;
                margin-right: 8px;
                max-width: 100px;
                max-height: 100px;
            }
            p {
                width: 70%;
            }
            &.selected {
                outline: 2px solid #999;
            }
        }
    }
    .op {
        width: 100%;
        position: sticky;
        bottom: -8px;
        left: 0;
        display: flex;
        background-color: $bgcolor;
        > div {
            width: 100%;
            padding: 4px;
            border-radius: 4px;
            text-align: center;
            cursor: pointer;
            transition: 0.3s ease;
            &:hover {
                color: #f0f0f0;
                background-color: $skinColor;
            }
        }
    }
    .flb {
        span > a {
            color: rgb(58, 116, 173);
            &:hover {
                color: #6cf;
            }
        }
    }
}
// 消息框
.messagePanel {
    position: fixed;
    width: calc(15rem + 16px);
    padding: 8px;
    max-height: 100vh;
    bottom: 0;
    right: 0;
    font-size: 1rem;
    color: #000000;
    box-sizing: content-box;
    z-index: 1;
    > div {
        width: 100%;
        min-height: 16px;
        bottom: 0;
        padding: 8px;
        margin: 4px 0;
        border-radius: 4px;
        opacity: 0.75;
        box-sizing: border-box;
        float: left;
        transition: 0.3s ease;
        position: relative;
        z-index: 99999;
        &.normal {
            background-color: #efefef;
        }
        &.info {
            background-color: rgb(183, 217, 255);
        }
        &.warn {
            background-color: rgb(255, 248, 183);
        }
        &.success {
            background-color: rgb(183, 255, 187);
        }
        &.error {
            background-color: rgb(255, 194, 183);
        }
        &:hover {
            opacity: 1;
        }
        > .close-button {
            width: 16px;
            height: 16px;
            top: 0;
            right: 0;
            position: absolute;
            transition: 0.3s ease;
            transform-origin: 50% 50%;
            &::after {
                content: "×";
                font-size: 16px;
                line-height: 16px;
                color: #000000;
            }
            &:hover {
                transform: scale(1.2);
            }
        }
        img {
            max-width: 75%;
        }
    }
}
// 输入框
.saltMCBBSinputbox {
    @include panel($minHeight: 80vh, $padding: 0, $bgcolor: #f0f0f0);
    $btnHeight: 36px;
    textarea {
        width: 100%;
        height: calc(80vh - #{16px + $btnHeight});
        padding: 2px;
        border: none;
        box-sizing: border-box;
        @include scroll();
    }
    .btn {
        width: 100%;
        height: $btnHeight;
        padding: 0;
        display: flex;
        > div {
            width: 100%;
            height: $btnHeight;
            line-height: $btnHeight;
            text-align: center;
            cursor: pointer;
            transition: 0.3s ease;
            &:hover {
                color: #f0f0f0;
                background-color: $skinColor;
            }
        }
    }
}
// checkbox
// input[type="range"] {
//     @include range;
// }
input[type="checkbox"] {
    $label-h: 24px;
    + label.checkbox {
        position: relative;
        width: $label-h * 2;
        height: $label-h;
        margin-left: calc(25% - #{$label-h});
        background: #999;
        float: left;
        border-radius: $label-h / 2;
        cursor: pointer;
        transition: background 0.3s;
        z-index: 1;
        &[disabled] {
            cursor: not-allowed;
            opacity: 0.75;
        }
        &::before,
        &::after {
            transition: 0.3s ease;
            position: absolute;
        }
        &::before {
            content: "关";
            top: 2px;
            left: $label-h + 4px; // 3/3width + 4px
            color: #fff;
            line-height: $label-h - 4px;
        }
        &::after {
            content: "";
            top: 2px;
            left: 2px;
            width: $label-h - 4px;
            height: $label-h - 4px;
            border-radius: ($label-h - 4px)/2;
            background: #fff;
        }
    }
    &:checked + label.checkbox {
        background-color: $skinColor;
        &::before {
            content: "开";
            left: $label-h / 3;
        }
        &::after {
            left: $label-h + 2px;
        }
    }
    &:active + label.checkbox {
        &::after {
            width: $label-h + 4px;
            border-radius: $label-h / 2;
        }
    }
    &:checked:active + label.checkbox {
        &::after {
            left: $label-h - 6px;
        }
    }
}
// 优化
textarea.pt {
    // textarea 可以拉长
    line-height: 1.25em;
    resize: vertical;
    min-height: 1.25 * 4em;
    max-height: 1.25 * 45em;
    @include scroll(8px);
}
#ct .mn .bm .tdats {
    .alt.h th {
        padding-top: 0;
        padding-bottom: 0;
        border-top: 0;
        border-bottom: 0;
    }
    .tb {
        // 用户组权限页面
        margin-top: 0;
    }
}
// 签名档
.plhin .sign {
    @include scroll();
}
// 如果顶栏没有移动到左侧
.linksStillOnTopBar {
    width: 100%;
    text-align: center;
    > a {
        display: inline-block;
        width: 90%;
        padding: 4px 6px;
        border-radius: 4px;
        &:hover {
            background: $skinColor;
            color: white;
        }
    }
}
#toptb {
    transition: opacity 0.3s ease;
}
// 代码块
// .pl .blockcode {
//     position: relative;
//     background-image: none;
//     > div {
//         position: relative;
//         max-height: 1.2rem * 50; // 最多显示50行
//         @include scroll(10px);
//         z-index: 10;
//         &::after {
//             content: "01.\A 02.\A";
//             position: absolute;
//             overflow: hidden;
//             width: 33px;
//             height: 100%;
//             top: 0;
//             left: 0;
//             font-size: 1rem;
//             line-height: 1.2rem;
//             text-align: right;
//         }
//     }
//     > em {
//         top: 2px;
//         right: 2px;
//         position: absolute;
//         margin: 0 0 0 0;
//         z-index: 12;
//         &:hover {
//             outline: 1px dashed;
//         }
//     }
//     ol {
//         overflow: auto;
//         max-width: 750px;
//         //margin-left: 0 !important; // MCBBS加了important我也只好加了
//         // 左侧的深色区域宽度43px，ol左边距10px
//         margin-left: 33px !important; // calc(33px + 0.5rem);
//         font-size: 1rem;
//         @include scroll(10px);
//         list-style: none;
//         li {
//             color: #333;
//             height: 1.2rem;
//             padding-left: 1rem;
//             margin-left: 0;
//             font-size: 1rem;
//             line-height: 1.2rem;
//             list-style: none;
//             white-space: pre;
//         }
//     }
//     &::after {
//         content: "";
//         position: absolute;
//         width: 42px;
//         height: 100%;
//         top: 0;
//         left: 0;
//         border-right: 1px solid #ccc;
//         background-color: #ededed;
//         z-index: 14;
//     }
// }
