$bgcolor: #fbf2db;
body {
    background-image: var(--bodyimg-day);
    background-attachment: fixed;
    background-size: cover;
    > div[style]:not([id]):not([class]) {
        float: left;
    }
    &:hover > .mc_map_wp {
        transition-delay: 0s;
    }
    > .mc_map_wp {
        padding-top: 0;
        margin-top: 0;
        overflow: visible;
        // float: unset;
        display: inline-block;
        margin-left: calc(50% - 565px);
        transition: 0.3s ease;
        transition-delay: 0.5s;
        &:hover {
            transition-delay: 0s;
        }
        > .new_wp {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            h2 img {
                max-height: 74px;
            }
        }
    }
    #toptb {
        opacity: 0;
    }
}
// 查看警告记录按钮
.pmwarn {
    width: auto !important;
    background-size: 16px !important;
}
ul.xl.xl2.o.cl .pmwarn {
    background: url(template/mcbbs/image/warning.gif) no-repeat 0px 2px;
}
#uhd > .mn > ul .pmwarn a {
    background: url(template/mcbbs/image/warning.gif) no-repeat 0px 2px !important;
    background-size: 16px !important;
}
// 警告的帖子
.warned {
    opacity: 0.2;
    &:hover {
        opacity: 0.9;
    }
}
// 回到顶部按钮
#scrolltop {
    visibility: visible !important;
    opacity: 1;
    transition: 0.3s ease;
    &:not([style]) {
        display: none;
    }
    &[style*="hidden"] {
        margin-left: -10px;
        opacity: 0 !important;
    }
}
// 代码块
.pl .blockcode {
    position: relative;
    > em {
        top: 2px;
        right: 2px;
        position: absolute;
        margin: 0 0 0 0;
        &:hover {
            outline: 1px dashed;
        }
    }
    ol {
        overflow: auto;
        max-height: 45em;
        li {
            color: #444;
            margin-left: 29px;
            line-height: 1.8em;
            height: 1.8em;
            white-space: pre;
        }
    }
}
// 设置面板
.settingPanel {
    width: 40vw;
    min-width: 360px;
    left: 30vw;
    max-height: 80vh;
    top: 10vh;
    position: fixed;
    background-color: $bgcolor;
    background-clip: padding-box;
    padding: 0 8px 8px 8px;
    border: 8px solid;
    border-radius: 8px;
    border-color: rgba($color: #000000, $alpha: 0.2);
    box-sizing: border-box;
    overflow-y: auto;
    transition: 0.3s ease, opacity 0.2s ease;
    z-index: 999999;
    &.visible {
        opacity: 1;
        top: 10vh;
    }
    &.hidden {
        opacity: 0;
        top: -90vh;
        transition-timing-function: ease-in;
    }
    > * {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 8px;
        float: left;
    }
    .flb {
        span > a {
            color: rgb(58, 116, 173);
            &:hover {
                color: #6cf;
            }
        }
    }
    h3 {
        font-size: 0.875rem;
        small {
            font-size: 0.5em;
            color: grey;
        }
    }
    h3.half-h3 {
        width: calc(50% - 14px);
        padding: 0 10px 0 0;
        float: left;
        text-align: right;
    }
    textarea {
        resize: vertical;
        height: 4em;
        min-height: 2em;
        max-height: 20em;
        width: calc(100% - 8px);
    }
    input {
        width: calc(50% - 4px);
        float: left;
        text-align: center;
        &[type="range"] {
            width: calc(100% - 8px);
        }
    }
}
// 消息框
.messagePanel {
    position: fixed;
    width: calc(15rem + 16px);
    padding: 8px;
    max-height: 100vh;
    bottom: 0;
    right: 0;
    font-size: 1rem;
    box-sizing: content-box;
    > div {
        width: 100%;
        min-height: 16px;
        bottom: 0;
        padding: 8px;
        margin: 4px 0;
        border-radius: 4px;
        opacity: 0.75;
        box-sizing: border-box;
        float: left;
        transition: 0.3s ease;
        position: relative;
        z-index: 99999;
        &.normal,
        &.info {
            background-color: #efefef;
        }
        &.warn {
            background-color: rgb(255, 248, 183);
        }
        &.success {
            background-color: rgb(183, 255, 187);
        }
        &.error {
            background-color: rgb(255, 194, 183);
        }
        &:hover {
            opacity: 1;
        }
        > .close-button {
            width: 16px;
            height: 16px;
            top: 0;
            right: 0;
            position: absolute;
            transition: 0.3s ease;
            transform-origin: 50% 50%;
            &::after {
                content: "×";
                font-size: 16px;
                line-height: 16px;
                color: #000000;
            }
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}
