$bodybg-d: #1c1c1c;
$bodybg: lighten($bodybg-d, 6%);
$bodybg-l: lighten($bodybg, 7%);
$bodybg-l-l: lighten($bodybg-l, 8%);
$bodybg-l-l-l: lighten($bodybg-l-l, 8%);

$fontcolor-d: #ddd;
$fontcolor: lighten($fontcolor-d, 5%);
$fontcolor-l: lighten($fontcolor, 10%);

$a-highlight: #6cf;

$table-border-color: #837c73;

$droplight: drop-shadow(0 0 4px #fff);

@mixin noborder {
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-width: 0px;
}
@mixin glow {
    filter: $droplight $droplight $droplight;
}
@mixin whiteTextStroke {
    text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff;
}
@mixin scroll($width: 4px, $bgcolor: #eee, $thumbcolor: #999) {
    scrollbar-width: thin;
    scrollbar-color: $bgcolor $thumbcolor;
    &::-webkit-scrollbar {
        /*滚动条整体*/
        width: $width;
        height: $width;
    }
    &::-webkit-scrollbar-thumb {
        /*滚动条中可滑动部分*/
        border-radius: $width;
        box-shadow: inset 0 0 4px
            rgba($color: darken($thumbcolor, 20%), $alpha: 0.25);
        background: $thumbcolor;
    }
    &::-webkit-scrollbar-track {
        /*滚动条轨道*/
        box-shadow: inset 0 0 4px
            rgba($color: darken($bgcolor, 20%), $alpha: 0.25);
        border-radius: $width;
        background: $bgcolor;
    }
}
@mixin tedt {
    .tedt {
        > div {
            background-color: $bodybg-l;
        }
        .bar .fpd {
            a {
                @include glow();
            }
        }
        .area {
            &,
            textarea {
                background-color: $bodybg;
            }
        }
    }
}
@mixin text-stroke($width: 1px, $color: #fff) {
    -webkit-text-stroke: $width $color;
    text-stroke: $width $color;
}
// 大体更改
body.nightS {
    --bodybg: $bodybg;
    --bodybg-l: $bodybg;
    --bodybg-l-t: rgba($color: $bodybg, $alpha: 0);
    input,
    button,
    select,
    textarea {
        background-color: $bodybg-l;
        background-image: none;
        border-color: $table-border-color;
        color: $fontcolor;
    }
    & {
        background-color: $bodybg-d !important;
        background-image: var(--bodyimg-night);
        color: $fontcolor;
    }
    .mc_map_wp {
        box-shadow: 0 0 20px 1px #000;
    }
    .mc_map_border_right,
    .mc_map_border_left,
    .mc_map_border_top,
    .mc_map_border_foot {
        background-color: $bodybg;
        background-image: none;
        color: $fontcolor;
    }
    #body_fixed_bg {
        opacity: 0;
    }
    .fl .forum_index_title,
    .sttl, // 一些页面的（搜索页）的顶部提示
    .mn .bm_h {
        background-color: $bodybg-l;
        padding-left: 16px;
    }
    // 弹出菜单
    .p_pop,
    .p_pof,
    .sllt {
        background-color: $bodybg-l;
        border-color: $table-border-color;
        background-image: none;
        a {
            color: $fontcolor;
            &:hover {
                color: $a-highlight;
                background-color: $table-border-color;
            }
        }
    }
    // 面包屑
    #pt .z a,
    #pt .z em,
    #pt .z span {
        color: $fontcolor;
    }
    //右上角公告
    #nv_right {
        background-color: $bodybg-l;
        background-image: none;
        a {
            color: $fontcolor;
            &:hover {
                color: $a-highlight;
            }
        }
    }
    // 弹出的对话框
    .m_c,
    .tm_c {
        background-color: $bodybg;
        color: $fontcolor;
        // th
        .dt th {
            background-color: $bodybg;
        }
        .px,
        .pt,
        .ps,
        select {
            background-color: $bodybg-l;
            @include noborder();
        }
        // 对话框的淡蓝色栏
        .o {
            background-color: $bodybg-l;
        }
        a {
            color: $fontcolor;
            &:hover {
                color: $a-highlight;
            }
        }
    }
    // 蓝色字
    .xi2,
    .xi2 a,
    .xi3 a {
        color: #69f;
    }
    // 提示页
    .nfl .f_c {
        background-color: #444;
        border: none;
    }
    // 表格的隔行颜色区分
    .alt {
        > th,
        > td {
            background-color: $bodybg-l;
        }
    }
    .dt {
        td,
        th {
            background-color: $bodybg-l;
            a {
                color: $fontcolor;
                &:hover {
                    color: $a-highlight;
                }
            }
        }
        tr:not(.alt) {
            td,
            th {
                background-color: $bodybg;
            }
        }
    }
    .bm {
        background-color: transparent;
    }
    // 如果顶栏没有移动到左侧
    #toptb {
        background-image: none;
        background-color: $bodybg-l;
        .y_search {
            background-image: none;
            background-color: #444;
            // outline: none;
            .y_search_btn button {
                box-shadow: none;
                filter: invert(0.8) hue-rotate(170deg);
            }
            .y_search_inp {
                background-color: #555;
                background-image: none;
                input {
                    background-color: #666;
                }
            }
            .scbar_type_td {
                background-color: #555;
                background-image: none;
            }
        }
    }
    #user_info_menu {
        background-image: none;
        background-color: $bodybg-l-l;
        .linksStillOnTopBar {
            a {
                color: $fontcolor;
                &:hover {
                    background: var(--MExtBtnClr, #999);
                    // color: #6cf;
                }
            }
        }
    }
    // 一些蓝色字
    .tl th em,
    .tl th em a {
        color: darken($a-highlight, 5%);
    }
}
// 门户、论坛、小组
body.nightS {
    #diy_chart {
        // > div,
        // .frame,
        // .frame-tab {
        //     // background-color: $bodybg-l;
        //     border-color: $table-border-color;
        // }
        #frame48dS31 {
            border-color: transparent !important;
        }
        .frame {
            // 框架内的信息
            background-color: $bodybg-l;
            border-color: transparent;
            .column {
                color: $fontcolor;
                a {
                    color: $fontcolor;
                    &:hover {
                        color: $a-highlight;
                    }
                }
                .tab-title.title {
                    background-color: $bodybg !important;
                    ul {
                        background-color: $bodybg-l !important;
                        li a {
                            border-color: transparent !important;
                        }
                        li:not(.a) {
                            a {
                                background-color: $bodybg-l-l;
                            }
                        }
                        li.a {
                            a {
                                background-color: $bodybg-l-l-l;
                            }
                        }
                    }
                }
                .tb-c {
                    > div {
                        background-color: $bodybg-l;
                    }
                }
            }
        }
        #tabVpFJkk {
            background-color: $bodybg-l !important;
            border-color: transparent !important;
        }
    }
    // 论坛左侧
    .mn > .bm {
        > .bm {
            background-color: $bodybg-l;
            border-color: transparent;
            .bm_h {
                // 大区标题栏
                background-color: $bodybg-d;
                background-image: none;
            }
            .bm_c {
                background-color: $bodybg-l;
                border-color: transparent;
            }
        }
    }
    // 门户左侧
    .portal_left_dev {
        border: none;
        .portal_left_title {
            background-color: $bodybg-d;
            background-image: none;
        }
        .portal_left_title[style*="background"] {
            // 友情链接
            background-color: $bodybg-d !important;
            background-image: none !important;
        }
        .portal_left_content {
            border-color: transparent;
            background-color: $bodybg-l;
        }
        a {
            color: $fontcolor;
            &:hover {
                color: $a-highlight;
            }
        }
    }
    // 小组左侧
    #ct .mn,
    #group_sd {
        .bm {
            border: none;
            .bm_h {
                // 标题栏
                background-color: $bodybg-d;
                background-image: none;
            }
            .area,
            .bm_c {
                background-color: $bodybg-l;
                border-color: transparent;
                .frame {
                    background-color: transparent;
                }
            }
        }
        a {
            color: $fontcolor;
            &:hover {
                color: $a-highlight;
            }
        }
    }
    // 右侧
    #diy_right {
        .frame {
            background-color: transparent;
        }
        .block {
            background-color: $bodybg-l !important;
            border-color: transparent !important;
            .title {
                background-color: $bodybg-d;
                background-image: none;
            }
            a {
                color: $fontcolor;
                &:hover {
                    color: $a-highlight;
                }
            }
        }
        .portal_news,
        .portal_game,
        .modpack,
        .portal_zb,
        .portal_note {
            border-color: transparent;
        }
    }
    // 用户框
    .special_user_info {
        background-color: $bodybg-l;
        background-image: none;
        .special_info {
            background-color: transparent;
            background-image: none;
            > div {
                background-color: $bodybg-l-l;
            }
        }
        a {
            color: $fontcolor;
            &:hover {
                color: $a-highlight;
            }
        }
    }
    // 拓展社区
    .portal_block_summary iframe {
        filter: brightness(0.5);
    }
}
// 看帖页面
body.nightS {
    .pgb a {
        // 最近浏览
        background-color: transparent;
    }
    .pgt,
    .pgs {
        // 切换页面
        .pg {
            a,
            strong,
            label {
                color: $fontcolor;
                background-color: transparent;
            }
            strong {
                background-color: $bodybg-l;
            }
        }
    }
    // 下一页按钮
    .pgbtn {
        &,
        a {
            border: none;
            box-shadow: none;
        }
        a {
            background-color: $bodybg-l;
            color: $fontcolor;
            border: none;
        }
    }
    #wp .wp {
        background-color: $bodybg;
        color: $fontcolor;
        table,
        tr,
        td {
            border-color: $table-border-color;
            a {
                color: $fontcolor;
                &:hover {
                    color: $a-highlight;
                }
            }
        }
    }
    // 帖子列表
    #postlist {
        background-color: transparent;
        border: none;
    }
    #postlist>table, // 标题栏
    .plhin, // 帖子
    #f_pst // 底部的发帖框
    {
        & {
            border: none;
            box-shadow: none;
        }
        tr,
        td,
        div {
            border-color: $table-border-color;
        }
        // 楼层之间的填充
        .ad {
            background-color: $bodybg-l;
        }
        // 左侧
        td.pls {
            background-color: $bodybg;
            border: none;
        }
        // 右侧
        td.plc {
            background-color: $bodybg-l;
            border: none;
        }
        .pls .avatar img {
            //头像
            background-color: $bodybg-l;
            background-image: none;
        }
        a {
            color: $fontcolor;
            &:hover {
                color: $a-highlight;
            }
        }
    }
    // 帖子
    .plhin {
        .quote {
            background-color: $bodybg-l-l;
            color: $fontcolor;
        }
        // 帖子正文
        .pcb .t_fsz > table {
            // 正文里的table
            table {
                color: #444;
                // @include whiteTextStroke();
            }
            //
            .spoilerbutton {
                border: 1px solid $bodybg-l-l;
            }
            .spoilerbody > table {
                color: $fontcolor;
                text-shadow: none;
            }
        }
        // 受到警告
        &.warned {
            opacity: 0.1;
            &:hover {
                opacity: 0.9;
            }
        }
        // 协同作者
        .tbn {
            .mt.bbda {
                background-image: none;
                background-color: $bodybg-l;
            }
            ul {
                @include noborder();
            }
        }
    }
    // 快速回复
    #vfastpost {
        background-color: transparent;
        background-image: none;
        // border-radius: 15px;
        #vf_l,
        #vf_m,
        #vf_r,
        #vf_b {
            background-color: $bodybg;
            background-image: none;
        }
        #vf_m input {
            border-color: transparent;
            color: $fontcolor !important;
        }
        #vf_l {
            border-radius: 5px 0 0 5px;
        }
        #vf_r {
            border-radius: 0 5px 5px 0;
        }
        #vreplysubmit {
            background-color: $bodybg;
            background-image: none;
            box-shadow: none;
            position: relative;
            &:after {
                content: "快速回复";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 38px;
                line-height: 38px;
                font-size: 1rem;
            }
        }
    }
    #p_btn a {
        // 四个1楼按钮
        &,
        i {
            background-color: $bodybg-l-l;
            background-image: none;
        }
    }
    .psth {
        // 评分区顶部的一条标记
        background-color: $bodybg-l-l;
        background-image: none;
    }
    #postlist.bm {
        border-color: $table-border-color;
    }
    #mymodannouncement,// 版权声明
    #myskinannouncement, // 皮肤提示
    #mytextureannouncement, // 材质提示
    #my16modannouncement, // 软件提示
    #announcement, // 服务器整合包提示1
    #announcement1, // 服务器整合包提示2
    #announcement2, // 服务器整合包提示3
    .cgtl caption,
    .locked {
        background-color: $bodybg;
        border: none;
    }
    //底部发帖框
    #fastpostform {
        .pls,
        .plc {
            border: none;
        }
    }
    //底部发帖框主体
    #fastposteditor {
        &,
        .bar,
        .area,
        .pt {
            background-color: $bodybg;
            border: none;
        }

        .fpd a {
            @include glow();
        }
    }
    // 回复框
    #postform {
        @include tedt();
    }
    // 每一楼右上角楼层显示
    .pi strong a {
        border-color: transparent;
    }
    // 图章
    #threadstamp img {
        @include glow();
    }
    // 代码块
    .blockcode {
        // filter: invert(0.9) hue-rotate(170deg); // 阴间滤镜
        background-color: $bodybg;
        background-image: url(https://attachment.mcbbs.net/forum/202101/22/221225qf7ml74pmu2rggmz.png);
        border-color: #999;
        color: $fontcolor;
        ol li {
            color: $fontcolor-l;
            &:hover {
                background: #706b5c;
                color: #d9e6f2;
            }
        }
        // &::after {
        //     content: "";
        //     border-color: #999;
        //     background-color: #484a55;
        // }
    }
}
// 版块页面
body.nightS {
    #ct {
        .bm.bml.pbn,
        .bm.bmw.fl {
            .bm_c {
                background-color: $bodybg-l !important;
            }
        }
        // 下一页按钮
        .mn a.bm_h {
            background-color: $bodybg-l !important;
            border: none;
            color: $fontcolor;
            &:hover {
                color: $a-highlight;
            }
        }
        .fastpreview {
            .bm_c {
                background-color: $bodybg !important;
                .pcb {
                    background-color: $bodybg;
                }
            }
        }
    }
    // 主题列表
    // 改了鼠标移上去高亮
    #threadlist .th,
    #threadlisttableid {
        background-color: transparent;
        tr {
            // background-color: transparent;
            th,
            td {
                background-color: transparent;
                border: none;
            }
            &:hover {
                > th,
                > td {
                    background-color: $bodybg-l-l;
                }
            }
        }
    }
    #pgt {
        background-color: transparent !important;
    }
    #thread_types > li a,
    #separatorline th,
    #separatorline td,
    #forumnewshow, // 新主题
    #f_pst .bm_c {
        background-color: $bodybg-l !important;
    }
    // 直播主题
    #livethread {
        border-color: $table-border-color;
        #livereplycontentout {
            background-color: $bodybg;
            @include scroll(8px);
        }
        #livereplycontent {
            background-color: $bodybg;
            > div {
                background-color: $bodybg-l;
            }
        }
        #livefastcomment {
            border-color: $table-border-color;
            background-color: $bodybg;
            textarea {
                background-color: $bodybg-l;
                color: $fontcolor !important;
            }
        }
    }
    // 瀑布流的版块
    #waterfall {
        li {
            background-image: none;
            background-color: $bodybg-l;
            transition: 0.3 ease;
            &:hover {
                background-color: $bodybg-l-l;
            }
            > * {
                background-image: none;
                background-color: transparent;
            }
        }
    }
    .area .frame {
        background-color: $bodybg-l;
    }
    // 论坛的奇葩CSS影响
    #portal_block_857, // MOD发布版版头
    #portal_block_873, // 联机教程版版头
    #portal_block_871 // 服务端插件版版头
    {
        background-color: $bodybg-l !important;
    }
    #framet3reHb, // MOD发布版版头
    #framecpjFn1, // 联机教程版版头
    #framecvgTv9 // 服务端插件版版头
    {
        border-color: $table-border-color !important;
    }
}
// home.php misc.php search.php
body.nightS {
    #ct {
        // 左侧
        .appl {
            border-color: transparent !important;
            .tbn {
                h2 {
                    background-color: $bodybg-d;
                    background-image: none;
                }
                ul {
                    border: none;
                    li:hover {
                        background-color: $bodybg-l;
                    }
                }
                a {
                    color: $fontcolor;
                    &:hover {
                        color: $a-highlight;
                    }
                }
            }
        }
        // 右侧
        .mn {
            .bm {
                background-color: transparent;
                .tb.cl,
                .bm_h {
                    background-color: $bodybg-d;
                    background-image: none;
                    h3 {
                        color: $fontcolor !important; // 好友页
                    }
                }
                .bm.mtm,
                .bm_c {
                    background-color: $bodybg-l;
                    border-color: transparent;
                }
                ul li {
                    color: $fontcolor;
                }
                ul.buddy li {
                    // 好友页
                    background-color: $bodybg-l;
                    border: none;
                }
                a {
                    color: $fontcolor;
                    &:hover {
                        color: $a-highlight;
                    }
                }
                .bm.bmn.mtm.cl {
                    // 黑名单页面的一个大白块
                    background-color: transparent !important;
                }
                input,
                select,
                option {
                    background-color: $bodybg-l;
                    background-image: none;
                    @include noborder();
                }
                .nts {
                    background-color: $bodybg-l;
                    .ntc_body[style*="color"] {
                        color: $fontcolor !important;
                    }
                }
                // 切换页面
                .pg {
                    a,
                    strong,
                    label {
                        color: $fontcolor;
                        background-color: transparent;
                    }
                    strong {
                        background-color: $bodybg-l;
                    }
                }
                // 一些表格
                .tdats {
                    th,
                    td {
                        background-color: $bodybg;
                        &.alt {
                            background-color: $bodybg-l;
                        }
                    }
                    .alt {
                        th,
                        td {
                            background-color: $bodybg-l;
                        }
                        &.h {
                            th,
                            td {
                                color: $bodybg-l;
                                background-color: $fontcolor;
                            }
                        }
                    }
                }
                // 消息列表，鼠标移上去变成别的颜色
                .pml .hover {
                    background-color: $bodybg-l;
                }
                &[style*="background:#fff"] {
                    background-color: transparent !important;
                    @include tedt;
                }
            }
        }
    }
    #threadlist .pbw {
        h3 a {
            color: #69f;
            &:visited {
                color: #b54dff;
            }
        }
        p {
            color: $fontcolor;
        }
    }
    #pmform, // 私信
    #td_sightml {
        @include tedt();
    }
}
// 顶部5个按钮
body.nightS {
    #nv > ul {
        background-color: $bodybg;
        background-image: none;
        border: none;
        li {
            &:first-child > a {
                &,
                &:hover {
                    border-left: none;
                }
            }
            &:last-child > a {
                &,
                &:hover {
                    border-right: none;
                }
            }
            > a {
                background-color: $bodybg-l;
                &,
                &:hover {
                    border-color: $bodybg-l;
                }
                &:hover {
                    background-color: $bodybg-l-l;
                }
            }
        }
    }
}
// 用户页
body.nightS {
    #uhd {
        background-color: $bodybg-l;
        border-color: $bodybg;
        ul.tb.cl {
            border-bottom-color: $bodybg;
            li a {
                background-color: $bodybg;
                border: none;
                color: $fontcolor;
                &:hover {
                    color: $a-highlight;
                }
            }
        }
        .mn {
            ul li a {
                color: $fontcolor;
                :hover {
                    color: $a-highlight;
                }
            }
        }
    }
    #ct {
        border-color: $bodybg;
        &[style*="background:#fff"] {
            background-color: $bodybg-l !important;
        }
    }

    .tl {
        background-color: transparent;
        tr {
            background-color: transparent;
            th,
            td {
                background-color: transparent;
                border: none;
            }
            &:hover {
                th,
                td {
                    background-color: $bodybg-l-l;
                }
            }
        }
    }
    // 个人空间
    #visitor_content,
    #friend_content,
    .emp,
    .blocktitle {
        color: $fontcolor;
        a {
            color: $fontcolor;
            &:hover {
                color: $a-highlight;
                background-color: $table-border-color;
            }
        }
    }
}
// 编辑器
body.nightS {
    // 选择主题分类的弹出菜单
    #typeid_ctrl_menu {
        background-color: $bodybg-l;
        border-color: $table-border-color;
        li {
            color: $fontcolor;
        }
    }
    #editorbox {
        background-color: $bodybg-l;
        > * {
            background-color: transparent;
        }
        .tb .a a,
        .tb .current a {
            background-color: $bodybg-l-l;
        }
        .area {
            background-color: $bodybg;
        }
    }
    // 下拉框
    .ftid {
        a {
            background-color: $bodybg-l;
            border-color: $table-border-color;
            color: $fontcolor !important; // MCBBS的CSS里有一个important导致我也不得不写一个
        }
    }
    // 帖子模板(淡蓝色部分) + 底部提示栏
    .exfm {
        background-color: $bodybg-l-l;
        border-color: $table-border-color;
    }
    // 顶部小工具栏
    #e_controls {
        background-color: $bodybg-l-l;
        .b1r a,
        .b2r a {
            border: none;
            border-width: 0px;
            &:not(.dp) {
                @include glow();
            }
            &.dp {
                background-color: $bodybg-l-l;
                color: $fontcolor;
            }
        }
    }
    // 纯文本模式
    #e_textarea {
        background-color: $bodybg;
    }
    // 编辑器边框
    #e_body .area,
    #rstnotice, // 这个是提示
    #e_bbar,
    .area {
        background-color: $bodybg-l;
        border-color: $table-border-color;
    }
}
// 网站地图
body.nightS {
    #nav,
    #content > *,
    li,
    #end,
    #footer strong {
        > a {
            color: $fontcolor;
            &:hover {
                color: $a-highlight;
            }
        }
    }
    #content {
        p.author {
            background-color: $bodybg-l;
        }
    }
}
// 处理各色的a/font
body.nightS {
    $colormap: (
        "#333333": #e0e0e0,
        "#663399": #de90df,
        "#8f2a90": #de90df,
        /*大区版主色*/ "#660099": #bf8cd9,
        /*版主色*/ "#660000": #c66,
        "#993333": #f99,
        /*红色主题*/ "#EE1B2E": #f99,
        "#ff0000": #f99,
        "#FF0000": #f99,
        "#CC0000": #f99,
        /*橙色主题*/ "#EE5023": #e97c5d,
        /*褐色主题*/ "#996600": #e6a219,
        "#663300": #d97f26,
        "#006666": #6cc,
        /*绿色主题*/ "#3C9D40": #8f8,
        "#009900": #9f9,
        /*蓝色主题*/ "#2897C5": #52b6e0,
        "#3366ff": #6af,
        "#2b65b7": #6af,
        "#003399": #6af,
        "#2B65B7": #6af,
        "#330066": #b28cd9,
        /*紫色主题*/ "#8F2A90": #cf61d1,
        "#EC1282": #f655a8,
    );
    $fontcolormap: (
        "#000": #fff,
        "black": #fff,
        "Black": #fff,
        "333333": #e0e0e0,
        "353535": #e0e0e0,
        /*版主色*/ "660000": #c66,
        "8b0000": #c66,
        "ff0000": #f99,
        "red": #f99,
        "Red": #f99,
        "000080": #8af,
        "0000ff": #8af,
        "3366ff": #8af,
        "003399": #8af,
        "blue": #8af,
        "Blue": #8af,
        "Navy": #8af,
        "339933": #9f9,
        "009900": #9f9,
        "008000": #9f9,
        "006400": #9f9,
        "#0640": #9f9,
        "green": #9f9,
        "Green": #9f9,
        /*大区版主色*/ "660099": #bf8cd9,
        "4b0082": #b54dff,
        "Indigo": #b54dff,
        "DarkOrchid": #c57ce9,
        "800080": #e830e8,
        "Purple": #e830e8,
        "2d76c4": #5c97d6,
        "Olive": #ffff33,
        "Sienna": #d28460,
    );
    $backcolormap: (
        "#FFFFFF",
        "Wheat",
        "white",
        "#ffffff",
        "rgb(251, 242, 219)",
        "rgb(252, 252, 252)"
    );
    .xl label,
    .xl label a {
        // 论坛页 最新求助 里面的(+??)
        color: #f99;
    }
    a,
    font {
        // &[style*="color:"] { // 这个CSS太长了, 能省一点是一点
        &[style*="or:"] {
            @each $key, $color in $colormap {
                &[style*="#{$key}"] {
                    color: $color !important;
                }
            }
        }
    }
    a {
        // &[style*="background-color"] { // 这个CSS太长了, 能省一点是一点
        &[style*="nd-co"] {
            @each $key in $backcolormap {
                &[style*="#{$key}"] {
                    background-color: transparent !important;
                }
            }
        }
    }
    font {
        @each $key, $color in $fontcolormap {
            &[color*="#{$key}"] {
                color: $color !important;
            }
        }
        // &[style*="background-color"] { // 这个CSS太长了, 能省一点是一点
        &[style*="nd-co"] {
            @each $key in $backcolormap {
                &[style*="#{$key}"] {
                    background-color: transparent !important;
                }
            }
        }
    }
    .t_f[style*="background-color"][style*="#FBF2DB"] {
        background-color: transparent !important;
    }
}
// 设置面板夜间模式
body.nightS {
    .consolePanel,
    .settingPanel,
    .emoticonPanel,
    .saltMCBBSinputbox {
        background-color: $bodybg;
        color: $fontcolor;
        border-color: rgba($color: #999999, $alpha: 0.2);
        > *:first-child {
            background-color: $bodybg;
        }
    }
    .consolePanel,
    .settingPanel {
        textarea {
            background-color: $bodybg-l;
            border: none;
        }
        input {
            border: none;
            border-width: 0px;
        }
        div h3 {
            > small {
                color: #aaa;
            }
        }
    }
    .emoticonPanel {
        .op {
            background-color: $bodybg;
        }
    }
    // .consolePanel {
    //     > div {
    //         background-color: $bodybg-l;
    //     }
    // }
}
