$bodybg-d: #222;
$bodybg: lighten($bodybg-d, 6%);
$bodybg-l: lighten($bodybg, 7%);
$bodybg-l-l: lighten($bodybg-l, 8%);
$bodybg-l-l-l: lighten($bodybg-l-l, 8%);

$fontcolor-d: #e0e0e0;
$fontcolor: lighten($fontcolor-d, 5%);
$fontcolor-l: lighten($fontcolor, 10%);

$a-highlight: #6cf;

$table-border-color: #837c73;

$droplight: drop-shadow(0 0 4px #fff);

@mixin noborder {
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-width: 0px;
}
@mixin glow {
    filter: $droplight $droplight $droplight;
}
@mixin whiteTextStroke {
    text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff;
}
// 大体更改
body.night-style {
    &,
    input,
    button,
    select,
    textarea,
    ntc_body {
        background-color: $bodybg;
        border-color: $table-border-color;
        color: $fontcolor;
    }
    & {
        background-color: $bodybg-d;
    }
    .mc_map_wp {
        box-shadow: 0 0 20px 1px #000;
    }
    .mc_map_border_right,
    .mc_map_border_left,
    .mc_map_border_top,
    .mc_map_border_foot {
        background-color: $bodybg;
        background-image: none;
        color: $fontcolor;
    }
    #body_fixed_bg {
        opacity: 0;
    }
    .fl .forum_index_title,
    .mn .bm_h {
        background-color: $bodybg-l;
        padding-left: 16px;
    }
    // 弹出菜单
    .p_pop,
    .p_pof,
    .sllt {
        background-color: $bodybg-l;
        border-color: $table-border-color;
        background-image: none;
        a:hover {
            background-color: $table-border-color;
        }
    }
    // 面包屑
    #pt .z a,
    #pt .z em,
    #pt .z span {
        color: $fontcolor;
    }
    //右上角公告
    #nv_right {
        background-color: $bodybg-l;
        background-image: none;
        a {
            color: $fontcolor;
            &:hover {
                color: $a-highlight;
            }
        }
    }
    // 弹出的对话框
    .m_c,
    .tm_c {
        background-color: $bodybg;
        color: $fontcolor;
        // th
        .dt th {
            background-color: $bodybg;
        }
        .px,
        .pt,
        .ps,
        select {
            background-color: $bodybg;
            @include noborder();
        }
        // 对话框的淡蓝色栏
        .o {
            background-color: $bodybg-l;
        }
        a {
            color: $fontcolor;
            &:hover {
                color: $a-highlight;
            }
        }
    }
    // 蓝色字
    .xi2,
    .xi2 a,
    .xi3 a {
        color: #69f;
    }
    // 提示页
    .nfl .f_c {
        background-color: #444;
        border: none;
    }
}
// 门户、论坛、小组
body.night-style {
    #diy_chart {
        // > div,
        // .frame,
        // .frame-tab {
        //     // background-color: $bodybg-l;
        //     border-color: $table-border-color;
        // }
        #frame48dS31 {
            border-color: transparent !important;
        }
        .frame {
            // 框架内的信息
            background-color: $bodybg-l;
            border-color: transparent;
            .column {
                color: $fontcolor;
                a {
                    color: $fontcolor;
                    &:hover {
                        color: $a-highlight;
                    }
                }
                .tab-title.title {
                    background-color: $bodybg !important;
                    ul {
                        background-color: $bodybg-l !important;
                        li a {
                            border-color: transparent !important;
                        }
                        li:not(.a) {
                            a {
                                background-color: $bodybg-l-l;
                            }
                        }
                        li.a {
                            a {
                                background-color: $bodybg-l-l-l;
                            }
                        }
                    }
                }
                .tb-c {
                    > div {
                        background-color: $bodybg-l;
                    }
                }
            }
        }
        #tabVpFJkk {
            background-color: $bodybg-l !important;
            border-color: transparent !important;
        }
    }
    // 论坛左侧
    .mn > .bm {
        > .bm {
            background-color: $bodybg-l;
            border-color: transparent;
            .bm_h {
                // 大区标题栏
                background-color: $bodybg-d;
                background-image: none;
            }
            .bm_c {
                background-color: $bodybg-l;
                border-color: transparent;
            }
        }
    }
    // 门户左侧
    .portal_left_dev {
        border: none;
        .portal_left_title {
            background-color: $bodybg-d;
            background-image: none;
        }
        .portal_left_title[style*="background"] {
            // 友情链接
            background-color: $bodybg-d !important;
            background-image: none !important;
        }
        .portal_left_content {
            border-color: transparent;
            background-color: $bodybg-l;
        }
        a {
            color: $fontcolor;
            &:hover {
                color: $a-highlight;
            }
        }
    }
    // 小组左侧
    #ct .mn,
    #group_sd {
        .bm {
            border: none;
            .bm_h {
                // 标题栏
                background-color: $bodybg-d;
                background-image: none;
            }
            .area,
            .bm_c {
                background-color: $bodybg-l;
                border-color: transparent;
                .frame {
                    background-color: transparent;
                }
            }
        }
        a {
            color: $fontcolor;
            &:hover {
                color: $a-highlight;
            }
        }
    }
    // 右侧
    #diy_right {
        .frame {
            background-color: transparent;
        }
        .block {
            background-color: $bodybg-l !important;
            border-color: transparent !important;
            .title {
                background-color: $bodybg-d;
                background-image: none;
            }
            a {
                color: $fontcolor;
                &:hover {
                    color: $a-highlight;
                }
            }
        }
        .portal_news,
        .portal_game,
        .modpack,
        .portal_zb,
        .portal_note {
            border-color: transparent;
        }
    }
    // 用户框
    .special_user_info {
        background-color: $bodybg-l;
        background-image: none;
        .special_info {
            background-color: transparent;
            background-image: none;
            > div {
                background-color: $bodybg-l-l;
            }
        }
        a {
            color: $fontcolor;
            &:hover {
                color: $a-highlight;
            }
        }
    }
    // 拓展社区
    .portal_block_summary iframe {
        filter: brightness(0.5);
    }
}
// 看帖页面
body.night-style {
    .pgb a {
        // 最近浏览
        background-color: transparent;
    }
    .pgt,
    .pgs {
        // 切换页面
        .pg {
            a,
            strong,
            label {
                color: $fontcolor;
                background-color: transparent;
            }
            strong {
                background-color: $bodybg-l;
            }
        }
    }
    // 下一页按钮
    .pgbtn {
        &,
        a {
            border: none;
            box-shadow: none;
        }
        a {
            background-color: $bodybg-l;
            color: $fontcolor;
            border: none;
        }
    }
    #wp .wp {
        background-color: $bodybg;
        color: $fontcolor;
        table,
        tr,
        td {
            border-color: $table-border-color;
            a {
                color: $fontcolor;
                &:hover {
                    color: $a-highlight;
                }
            }
        }
    }
    // 帖子列表
    #postlist {
        background-color: transparent;
        border: none;
    }
    #postlist>table, // 标题栏
    .plhin, // 帖子
    #f_pst // 底部的发帖框
    {
        & {
            border: none;
            box-shadow: none;
        }
        tr,
        td,
        div {
            border-color: $table-border-color;
        }
        // 楼层之间的填充
        .ad {
            background-color: $bodybg-l;
        }
        // 左侧
        td.pls {
            background-color: $bodybg;
            border: none;
        }
        // 右侧
        td.plc {
            background-color: $bodybg-l;
            border: none;
        }
        .pls .avatar img {
            //头像
            background-color: $bodybg-l;
            background-image: none;
        }
        a {
            color: $fontcolor;
            &:hover {
                color: $a-highlight;
            }
        }
    }
    // 帖子
    .plhin {
        .quote {
            background-color: $bodybg-l-l;
            color: $fontcolor;
        }
        // 帖子正文
        .pcb .t_fsz > table {
            // 正文里的table
            table {
                color: #444;
                @include whiteTextStroke();
            }
            //
            .spoilerbutton {
                border: 1px solid $bodybg-l;
            }
            .spoilerbody > table {
                color: $fontcolor;
                text-shadow: none;
            }
        }
        // 受到警告
        &.warned {
            opacity: 0.1;
            &:hover {
                opacity: 0.9;
            }
        }
    }
    // 快速回复
    #vfastpost {
        background-color: transparent;
        background-image: none;
        // border-radius: 15px;
        #vf_l,
        #vf_m,
        #vf_r,
        #vf_b {
            background-color: $bodybg;
            background-image: none;
        }
        #vf_m input {
            border-color: transparent;
            color: $fontcolor !important;
        }
        #vf_l {
            border-radius: 5px 0 0 5px;
        }
        #vf_r {
            border-radius: 0 5px 5px 0;
        }
        #vreplysubmit {
            background-color: $bodybg;
            background-image: none;
            box-shadow: none;
            position: relative;
            &:after {
                content: "快速回复";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 38px;
                line-height: 38px;
                font-size: 1rem;
            }
        }
    }
    #p_btn a {
        // 四个1楼按钮
        &,
        i {
            background-color: $bodybg-l-l;
            background-image: none;
        }
    }
    .psth {
        // 评分区顶部的一条标记
        background-color: $bodybg-l-l;
        background-image: none;
    }
    #postlist.bm {
        border-color: $table-border-color;
    }
    #mymodannouncement,// 版权声明
    #myskinannouncement, // 皮肤提示
    #mytextureannouncement, // 材质提示
    #my16modannouncement, // 软件提示
    .cgtl caption,
    .locked {
        background-color: $bodybg;
        border: none;
    }
    //底部发帖框
    #fastpostform {
        .pls,
        .plc {
            border: none;
        }
    }
    //底部发帖框主体
    #fastposteditor {
        &,
        .bar,
        .area,
        .pt {
            background-color: $bodybg;
            border: none;
        }

        .fpd a {
            @include glow();
        }
    }
    // 每一楼右上角楼层显示
    .pi strong a {
        border-color: transparent;
    }
    // 图章
    #threadstamp img {
        @include glow();
    }
    // 代码块
    .blockcode {
        filter: invert(0.8) hue-rotate(170deg); // 阴间滤镜
        ol li {
            color: #222;
        }
    }
}
// 版块页面
body.night-style {
    #ct {
        .bm.bml.pbn,
        .bm.bmw.fl {
            .bm_c {
                background-color: $bodybg-l !important;
            }
        }
        #pgt,
        #thread_types > li a,
        #separatorline th,
        #separatorline td,
        #forumnewshow, // 新主题
        #f_pst .bm_c {
            background-color: $bodybg-l !important;
        }
        // 主题列表
        // 改了鼠标移上去高亮
        #threadlist .th,
        #threadlisttableid {
            background-color: transparent;
            tr {
                // background-color: transparent;
                th,
                td {
                    background-color: transparent;
                    border: none;
                }
                &:hover {
                    th,
                    td {
                        background-color: $bodybg-l-l;
                    }
                }
            }
        }
        // 下一页按钮
        .mn a.bm_h {
            background-color: $bodybg-l !important;
            border: none;
            color: $fontcolor;
            &:hover {
                color: $a-highlight;
            }
        }
        // 瀑布流的版块
        #waterfall {
            li {
                background-image: none;
                background-color: $bodybg-l;
                transition: 0.3 ease;
                &:hover {
                    background-color: $bodybg-l-l;
                }
                > * {
                    background-image: none;
                    background-color: transparent;
                }
            }
        }
    }
}
// home.php misc.php
body.night-style {
    #ct {
        // 左侧
        .appl {
            border-color: transparent !important;
            .tbn {
                h2 {
                    background-color: $bodybg-d;
                    background-image: none;
                }
                ul {
                    border: none;
                    li:hover {
                        background-color: $bodybg-l;
                    }
                }
                a {
                    color: $fontcolor;
                    &:hover {
                        color: $a-highlight;
                    }
                }
            }
        }
        // 右侧
        .mn {
            .bm {
                background-color: transparent;
                .tb.cl,
                .bm_h {
                    background-color: $bodybg-d;
                    background-image: none;
                    h3 {
                        color: $fontcolor !important; // 好友页
                    }
                }
                .bm.mtm,
                .bm_c {
                    background-color: $bodybg-l;
                    border-color: transparent;
                }
                ul li {
                    color: $fontcolor;
                }
                ul.buddy li {
                    // 好友页
                    background-color: $bodybg-l;
                    border: none;
                }
                a {
                    color: $fontcolor;
                    &:hover {
                        color: $a-highlight;
                    }
                }
                .bm.bmn.mtm.cl {
                    // 黑名单页面的一个大白块
                    background-color: transparent !important;
                }
                input,
                select,
                option {
                    background-color: $bodybg-l;
                    background-image: none;
                    @include noborder();
                }
            }
        }
    }
}
// 顶部5个按钮
body.night-style {
    #nv > ul {
        background-color: $bodybg;
        background-image: none;
        border: none;
        li {
            &:first-child > a {
                &,
                &:hover {
                    border-left: none;
                }
            }
            &:last-child > a {
                &,
                &:hover {
                    border-right: none;
                }
            }
            > a {
                background-color: $bodybg-l;
                &,
                &:hover {
                    border-color: $bodybg-l;
                }
                &:hover {
                    background-color: $bodybg-l-l;
                }
            }
        }
    }
}
// 用户页
body.night-style {
    #uhd {
        background-color: $bodybg-l;
        border-color: $bodybg;
        ul.tb.cl {
            border-bottom-color: $bodybg;
            li a {
                background-color: $bodybg;
                border: none;
                color: $fontcolor;
                &:hover {
                    color: $a-highlight;
                }
            }
        }
    }
    #ct {
        border-color: $bodybg;
    }

    .tl {
        background-color: transparent;
        tr {
            background-color: transparent;
            th,
            td {
                background-color: transparent;
                border: none;
            }
            &:hover {
                th,
                td {
                    background-color: $bodybg-l-l;
                }
            }
        }
    }
}
// 处理各色的a/font
$colormap: (
    "#333333": #e0e0e0,
    "#663399": #de90df,
    "#8f2a90": #de90df,
    /*大区版主色*/ "#660099": #bf8cd9,
    /*版主色*/ "#660000": #c66,
    "#993333": #f99,
    /*红色主题*/ "#EE1B2E": #f99,
    "#ff0000": #f99,
    "#FF0000": #f99,
    /*橙色主题*/ "#EE5023": #d97f26,
    /*褐色主题*/ "#996600": #e6a219,
    "#663300": #d97f26,
    "#006666": #6cc,
    /*绿色主题*/ "#3C9D40": #8f8,
    "#009900": #9f9,
    "#3366ff": #6af,
    "#2b65b7": #6af,
    "#003399": #6af,
    "#2B65B7": #6af,
    "#330066": #b28cd9,
    /*紫色主题*/ "#8F2A90": #cf61d1,
);
$fontcolormap: (
    /*版主色*/ "#660000": #c66,
    "red": #f99,
    "Red": #f99,
    "#000080": #8af,
    "#3366ff": #8af,
    "#003399": #8af,
    "blue": #8af,
    "Blue": #8af,
    "#339933": #9f9,
    "#009900": #9f9,
    "green": #9f9,
    "Green": #9f9,
    "black": #fff,
    "Black": #fff,
    /*大区版主色*/ "#660099": #bf8cd9
);
$backcolormap: ("#FFFFFF");
body.night-style {
    .xl label,
    .xl label a {
        // 论坛页 最新求助 里面的(+??)
        color: #f99;
    }
    a,
    font {
        &[style*="color"] {
            @each $key, $color in $colormap {
                &[style*="#{$key}"] {
                    color: $color !important;
                }
            }
        }
        &[style*="background-color"] {
            @each $key in $backcolormap {
                &[style*="#{$key}"] {
                    background-color: transparent !important;
                }
            }
        }
    }
    font {
        @each $key, $color in $fontcolormap {
            &[color*="#{$key}"] {
                color: $color !important;
            }
        }
    }
}
